<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('_bootstrap') %>
    <title>Register</title>
</head>

<body class="bg-light">
  <%- include('_nav') %>
    <div class="container">
      <% if (error) { %>
        <div class="alert alert-danger mt-5 mx-auto" role="alert" style="width: 50vw;">
          <ul>
            <% error.split(",").forEach(e=> { %>
              <li>
                <%= e %>
              </li>
              <% }) %>
          </ul>
        </div>
        <% } %>
          <div class="shadow-lg my-2 mx-auto" style="width: 50vw;">
            <form method="post" class="p-5">
              <h3>Register</h3>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingUsername" placeholder="Username" name="username">
                <label for="floatingUsername">Username</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                  name="password">
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingPassword" placeholder="Email" name="email">
                <label for="floatingPassword">Email</label>
              </div>
              <button class="btn btn-outline-primary w-100" type="submit">Register</button>
              <p class="text-center">Have an account? <a href="/login">Login</a></p>
            </form>
          </div>
    </div>
</body>

</html>