<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <%= dataProfile.fullName %>
            </h5>
            <img src="<%= dataProfile.profilePicture %>" alt="">
            <p class="card-text">
                <%= dataProfile.dateOfBirth %>
            </p>
            <a href="#" class="btn btn-primary w-100">Subscribe</a>
        </div>
    </div>
</body>

</html>